ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
